<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%=homeStartingContent%></p>

<% posts.forEach(element =>{ %>
<h1><%=element.title%></h1>
<p>
    <%= element.content.substring(0,100) + "... " %>
    <a href="/posts/<%=element.title%>">Read me</a>
</p>
<% }); %>
<%- include('partials/footer'); -%>