
<%- include('header');-%>
<body>
    <div class="box" id="heading">
        <h1><%= listTitle%></h1>
    </div>



    <div class="box">
        <% for(var i =0; i<items.length;i++){ %>
        <div class="item">
            <input type="checkbox">
            <p><%= items[i] %></p>
        </div>
        <% } %>
        <form class="item" action="/" method="POST">
            <input type="text" name="newItem" placeholder="New Item">
            <button type="submit" name="button" value = <%= listTitle %>>+</button>
        </form>
    </div>
    <%- include('footer');-%>
